[Desktop Entry]
Name=3dfx TvTool
Comment=3dfx Voodoo3 TV-out control utility
Comment[pl]=Narzędzie do kontroli wyjścia TV w kartach 3dfx Voodoo3
Exec=3dfx_tvtool
Icon=3dfx_tvtool.xpm
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
